<%- include("header") %>
    <style>
        h1 {
            color: black;
        }
    </style>
    <h1>this is about page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae sint cumque repellendus, est veritatis rerum
        ducimus sequi, beatae ullam obcaecati cupiditate similique pariatur libero ea maiores officia harum ipsum
        voluptatem, commodi reiciendis eum dicta?</p>
    <%- include("footer") %>